<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="electricityBill" class="com.nit.beans.ElectricityBillGenerator">
		<property name="unitsConsumed" value="150" />
		<property name="ratePerUnit" value="5.5" />
	</bean>

</beans>
