<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="com.nit.beans.Employee" id="empId">
		<constructor-arg value="101"></constructor-arg>
		<constructor-arg value="Sarafat"></constructor-arg>
		<constructor-arg value="50000"></constructor-arg>
		<constructor-arg value="Developer"></constructor-arg>

	</bean>
</beans>
