<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="dateObj" class="java.time.LocalDate" factory-method="now" />

	<bean id="discountCalculator" class="com.nit.beans.DiscountCalculator">
		<property name="currentDate" ref="dateObj" />
		<property name="price" value="100" />
	</bean>
</beans>
