<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="doctor" class="com.nit.task01.Doctor">

        <property name="doctorId" value="D101"/>
        <property name="doctorName" value="Dr. Meera"/>
        <property name="specialization" value="General Medicine"/>

    </bean>

    <bean id="patient" class="com.nit.task01.Patient" autowire="byType">

        <property name="patientId" value="101"/>
        <property name="patientName" value="Rahul"/>
        <property name="disease" value="Dengue"/>

    </bean>
</beans>
