<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->
	<bean class="com.nit.beans.Sim" id="sId">
		<constructor-arg value="999"></constructor-arg>
		<constructor-arg value="Prepaid"></constructor-arg>
		<constructor-arg value="350"></constructor-arg>
		
	</bean>
	<bean class="com.nit.beans.Mobile" id="mId">
		<property name="m_name" value="Motorola"></property>
		<property name="m_model" value="Edge 40"></property>
		<property name="m_price" value="30000"></property>
		<property name="color" value="Magenta"></property>
		<property name="s" ref="sId"></property>
		
	</bean>
</beans>
