<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="medicine" class="com.nit.task01.MedicineInventory">

        <property name="pharmacyName" value="Online Pharmacy"></property>
        <property name="medicineStock">
        		<map>
        			<entry key="Paracetamol" value="250"></entry>
        			<entry key="Dolo650" value="180"></entry>
        			<entry key="Azithromycin" value="90"></entry>
        			<entry key="Vitamin-C" value="300"></entry>
        			<entry key="Insulin" value="40"></entry>
        		</map>
        </property>
      
    </bean>

</beans>
