<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- Address Bean -->

    <bean id="address" class="com.nit.project02.Address">

        <property name="city" value="Hyderabad"/>
        <property name="pincode" value="500001"/>

    </bean>

    <!-- Employee Bean -->

    <bean id="employee" class="com.nit.project02.Employee">

        <property name="name" value="Mohammed Sarafat"/>
        <property name="id" value="101"/>

        <!-- Reference Injection -->
        <property name="address" ref="address"/>

    </bean>

</beans>