<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="foodCart" class="com.nit.project01.FoodCart">

        <property name="dishes">
            <list>
                <value>Paneer Butter Masala</value>
                <value>Veg Biryani</value>
                <value>Paneer Butter Masala</value>
                <value>Butter Naan</value>
            </list>
        </property>

    </bean>

</beans>